bases:
  - ../../kube-prometheus

configMapGenerator:
  - name: grafana-dashboard-hstream
    namespace: monitoring
    options:
      disableNameSuffixHash: true
      labels:
        app.kubernetes.io/component: grafana
        app.kubernetes.io/name: grafana
        app.kubernetes.io/part-of: kube-prometheus
        app.kubernetes.io/version: 9.3.2
    files:
    - dashboard/hstream-overview.json

patches:
  # grafana-pvc.yaml
  - target:
      kind: PersistentVolumeClaim
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: ssd
  # prometheus-prometheus.yaml
  - target:
      kind: Prometheus
      labelSelector: app.kubernetes.io/component=prometheus
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/storage/volumeClaimTemplate/spec/storageClassName
        value: ssd

# vim: set filetype=yaml:
