apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../hstream-exporter

patches:
  # hstream-exporter.yaml
  - target:
      kind: Service
      name: hstream-exporter
      namespace: monitoring
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: n1
  - target:
      kind: StatefulSet
      name: hstream-exporter
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/command
        value:
          - bash
          - "-c"
          - |
            set -ex
            /usr/local/bin/hstream-exporter \
              -addr "hstream://hstreamdb-server:6570" \
              -listen-addr "0.0.0.0:9250"
      - op: replace
        path: /metadata/namespace
        value: n1

# vim: set filetype=yaml:
